.iphone-container {
  width: 440px;
  background-image: url("../public/images/iphone_mockup.webp");
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  height: 880px;
  z-index: 10000;
}

.center-container {
  display: flex;
  flex-direction: column;
  /* row-gap: 20px; */

  width: min-content;
  margin: 0 auto;
  padding: 100px 0 0;

  /* height: 100vh; */
}

#iphone-mockup {
  position: fixed;
}
